@import "./globals/common.scss";
@import "./components/header";

.about-us-section {
  background-color: #f9f9f9;
  padding: 100px 0;
  
  h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .about-us-content {
    display: flex;
    .content-block,
    .image-block {
      width: 50%;
    }
    .image-block {
      padding-right: 40px;
    }
    .content-block {
      h3 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 16px;
        strong,span {
          font-weight: 500;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 1.5;
      }

    }
  }
  @media (max-width:1024px) and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    .about-us-content {
      flex-direction: column;
      gap: 30px;
      .content-block,.image-block {width: 100%;}
      .content-block p {font-size: 18px;}
    }
  }
  @media (max-width:767px) {
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {font-size: 38px}
    .about-us-content {
      flex-direction: column;
      gap: 20px;
      .content-block,.image-block {width: 100%;padding-right: 0;}
      .content-block {
        h3 {font-size: 24px; line-height: 1.3;}
      }
    }
  }
}

@import "./components/footer";