.header-section {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
  position: relative;
  z-index: 2;
  .left-section {
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    .logo-icon {
      width: 50px;
      margin-right: 4px;
    }
    .logo-text {
      width: 200px;
    }
  }
  .right-section {
    .nav-hotline {
      position: relative;
      display: flex;
      align-items: center;
      .call-icon {
        max-width: 40px;
        margin-right: 12px;
      }
      h3 {
        font-size: 15px;
        font-weight: 600;
        color: #081828;
        span {
          color: #888;
          font-weight: 500;
          font-size: 14px;
          display: block;
          margin-top: 2px;
        }
      }
    }
  }
  @media (max-width:767px) {
    padding: 12px 0;
    .container {
      .left-section {
        .logo {justify-content: flex-start; gap: 4px;}
        .logo-icon {width: 25px;}
        .logo-text {max-width: 130px;}
      }
      .right-section {
        .nav-hotline {
          .call-icon {max-width: 20px;margin-right: 8px;}
          h3,h3 span {font-size: 12px;}
        }
      }
    }
  }
}